
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap");

*{
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
}
img{
    width: 100vw;
    object-fit: cover;
}

.bck{
    width: 100vw;
    height: 3vw;
    position: fixed;
    background-color: white;
}
.container{
    position: fixed;
    top: 0px;
    left: 10vw;
    width: 80vw;
    display: flex;
    height: 3vw;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.container img{
    width: 7vw;
}
.btnContainer{
    height: 3vw;
    display: flex;
    justify-content: right;
}

.navImage{
    top: 0px;
    position:fixed;
}
#navBar{
    top: 0px;
    width: 100vw;
    height: 5vw;
    position:fixed;
}
.btn{
    width: 5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: right;
    user-select: none;
    transition-duration: 0.1s;
}
.btn:hover{
    font-weight: 600;
}

.target{
    opacity: 50%;
    position: absolute;
    width: 400px;
    height: 100px;
}
.target1{
    top: 284vw;
}
.target2{
    top: 340vw;
}
.target3{
    top: 847vw;
}